<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QualityElectronics</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QualityElectronics.styles.css" asp-append-version="true"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav_container">
            <nav class="header1">
                <a href='@Url.Action("Index","Home")'><img class="logo" src="../Images/Logo1.png"></a>
                <form class="buscador">
                    <input type="search" placeholder="Buscar productos" aria-label="Search">
                    <button class="lupa" type="submit"><img src="../Images/lupa.png" class="lupa_img"></button>
                </form>
                <div class="usuario">
                    <a href='@Url.Action("MiCuenta","Home")'><img class="user_img" src="../Images/img_perfil.png"></a>
                    <p class="nombre_usuario">Nombre Usuario</p>
                <div class="dropdown">
                <button class="btn btn-custom dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 <span class="dropdown-toggle-icon"></span> 
                </button>
                <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="#">Iniciar Sesión</a></li>
                     <li><a class="dropdown-item" href="#">Registrarse</a></li>
                </ul>
            </div>                
        </div>
                <button class="carrito" onclick="window.location.href='@Url.Action("Carrito","Home")' "><img src="../Images/carrito.png"></button>
            </nav>
        </div>
        <div class="nav_container2">
            <nav class="header2">
                <ul>
                    <li><a href='@Url.Action("Catalogo","Home")'>PRODUCTOS</a></li>
                    <li><a href='@Url.Action("Notebooks","Home")'>NOTEBOOKS</a></li>
                    <li><a href='@Url.Action("Perifericos","Home")'>PERIFÉRICOS</a></li>
                    <li><a href='@Url.Action("QuieroUnaCompu","Home")'>QUIERO UNA COMPU</a></li>
                    <li><a href='@Url.Action("Ayuda","Home")'>AYUDA</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <section class="footer_container">
            <div class="footer_def">
                <div class="imgs_nav">
                    <div class="img_logos">
                        <img src="../Images/logo_efsi_footer def.png">
                        <div class="logos">
                            <img src="../Images/instagram.png">
                            <img src="../Images/twitter.png">
                            <img src="../Images/tik-tok.png">
                            <img src="../Images/whatsapp.png">
                        </div>
                    </div>
                    <nav class="footer_nav">
                        <ul>
                            <li><a href='@Url.Action("Catalogo","Home")'>Productos</a></li>
                            <li><a href='@Url.Action("Notebooks","Home")'>Notebooks</a></li>
                            <li><a href='@Url.Action("Perifericos","Home")'>Perifericos</a></li>
                            <li><a href='@Url.Action("QuieroUnaCompu","Home")'>Quiero una Compu</a></li>
                            <li><a href='@Url.Action("Ayuda","Home")'>Ayuda</a></li>
                        </ul>
                    </nav>
                </div>
                <p class="copyright">Copyright © 2024 Quality Electronics</p>
            </div>
        </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
