<section class="contenedor">
    <section class="seccion">
        <div class="nombre_sección">
            <div class="img_nombre">
                <button onclick="window.history.back()"><img src="../Images/chevron_left.png"></button>
                <h1>Mis Compras</h1>
            </div>
            <div class="linea"></div>
        </div>

        <div class="cuenta_option dom_agregado">
            <div class="nombre_sección2">
                <p>Mis Compras</p>
                <div class="linea"></div>
            </div>
            @{
                if (ViewBag.HistorialCompras.Count != 0)
                {
                    int i = 1; // Inicializar fuera del foreach

                    foreach (Compras_Usuario compras_Usuario in ViewBag.HistorialCompras)
                    {
                        <div class="pregunta">
                            <p class="motivo_preguntinia">Compra @i</p>
                            <p class="motivo_preguntinia">Productos:</p>
                            <ul class="lista_prods">
                                @foreach (DetalleProd prod in ViewBag.DetalleHistorial)
                                {
                                    if (prod.IdCompra == compras_Usuario.IdCompra)
                                    {
                                        <li class="elemento_compra">
                                            <p>@prod.NombreProd</p>
                                            <p>X</p>
                                            <p>@prod.Cantidad</p>
                                            <p>$ @prod.PrecioUnitario</p>
                                        </li>
                                    }
                                }
                            </ul>
                            <p class="motivo_preguntinia">Domicilio:</p>
                            <p>@compras_Usuario.Domicilio</p>
                            <p class="motivo_preguntinia">Formato de Pago:</p>
                            <p>@compras_Usuario.FormatoPago</p>
                            <p class="motivo_preguntinia">Total:</p>
                            <p>$ @compras_Usuario.PrecioTotal</p>

                        </div>
                        i++; // Incrementar
                    }
                }
                else
                {
                    <div class="cuenta_mensaje">
                        <p>No tienes compras hechas</p>
                    </div>
                }
            }


        </div>
    </section>
</section>